*
!.gitignore

!UART
!UART/python_source
!UART/python_source/*.py
!UART/tcl_xdc_source
!UART/tcl_xdc_source/*.tcl
!UART/tcl_xdc_source/*.xdc
!UART/arm_code
!UART/arm_code/*.c

!RawIP_UDP_TCP
!RawIP_UDP_TCP/tcl_xdc_source
!RawIP_UDP_TCP/tcl_xdc_source/*.tcl
!RawIP_UDP_TCP/tcl_xdc_source/*.xdc

!RawIP_UDP_TCP/python_source
!RawIP_UDP_TCP/python_source/RawIP
!RawIP_UDP_TCP/python_source/RawIP/*.py
!RawIP_UDP_TCP/python_source/TCP_UDP
!RawIP_UDP_TCP/python_source/TCP_UDP/*.py

!RawIP_UDP_TCP/arm_code
!RawIP_UDP_TCP/arm_code/RawIP
!RawIP_UDP_TCP/arm_code/RawIP/*.c
!RawIP_UDP_TCP/arm_code/RawIP/*.h
!RawIP_UDP_TCP/arm_code/TCP
!RawIP_UDP_TCP/arm_code/TCP/*.c
!RawIP_UDP_TCP/arm_code/TCP/*.h
!RawIP_UDP_TCP/arm_code/UDP
!RawIP_UDP_TCP/arm_code/UDP/*.c
!RawIP_UDP_TCP/arm_code/UDP/*.h

